.pokedex {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.single-pokemon{
  position: fixed;
  text-align: center;
  list-style: none;
  font-size: 16px;
  font-weight: bolder;
  font-family: fantasy;
  color: black;
  right: 150px;
  top: 80px;
  border: 3px solid black;
  // background-color: #2A4040;
  // background: linear-gradient(#CFE5E5, #2A4040);
  background-image: url(https://37.media.tumblr.com/697d436417d1e875ef566918c5b2547b/tumblr_n7fg2vYZ741st5lhmo1_1280.jpg);
  border-radius: 10px;

}

.single-pokemon img{
  height: 300px;
  width: 300px;
}

li {
  list-style: none;
}

.poke-image{
  height: 100px;
  width: 100px;
  padding: 10px 10px;
}

.poke-item {
  display: flex;
  flex-direction: column;
  font-family: fantasy;
  font-size: 15px;
  justify-content: center;

  // justify-content: center;
  // align-items: center;
}

.poke-item a div:hover {
  border: 1px solid black;
  background-color: burlywood;
  border-radius: 10px;
  animation: bounce 1s;
}

.poke-item div {
  display: flex;
  align-items: center;
}

.active {
  font-weight: 700;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
    -webkit-transform: translateX(0);
		transform: translateX(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
    -webkit-transform: translateX(100px);
		transform: translateX(100px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
    -webkit-transform: translateX(50px);
		transform: translateX(50px);

	}
}
